.item {
    width:400px;

}

input {
    color:#222222;
    font-family:georgia,times;
    font-size:24px;
    font-weight:normal;
    line-height:1.2em;
    color:black;
}

a {
    color:#222222;
    font-family:georgia,times;
    font-size:24px;
    font-weight:normal;
    line-height:1.2em;
    color:black;
    text-decoration:none;

}

a:hover {
    background-color:#BCFC3D;
}
h1 {
    color:#000000;
    font-size:41px;
    letter-spacing:-2px;
    line-height:1em;
    font-family:helvetica,arial,sans-serif;
    border-bottom:1px dotted #cccccc;
}

h2 {
    color:#000000;
    font-size:34px;
    letter-spacing:-2px;
    line-height:1em;
    font-family:helvetica,arial,sans-serif;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

tr.alt {
    background-color: gray;
}

.edit, .delete {
    font-size: 16px;
}

.delete:hover {
    background-color:red;
}